header {
  margin-bottom: 50px;
  font-size: 60px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 22, 1) 31%,
    rgba(0, 212, 255, 1) 100%
  );
}
h2 {
  padding-right: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 6em
  padding: 10px;
  font-size: 50px;
  width: 400px;

  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(243, 44, 44) 0%,
    rgb(177, 45, 61) 31%,
    rgb(114, 24, 24) 100%
  );
}
.q1 {
  margin-right: 250px;
  width: 100%;
  background: rgb(235, 3, 3);
  background: linear-gradient(
    90deg,
    rgb(117, 113, 204) 0%,
    rgb(226, 12, 37) 31%,
    rgb(224, 9, 9) 100%
  );
}
p {
  padding-right: 100px ;
  margin-left: auto;
    margin-right: auto;
    width: 400px
}
h3 {
    padding-right: 300px ;
    margin-left: auto;
    margin-right: auto;
    width: 400px
}
