* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-group-item.active {
  background-color: #007bff;
  border-color: #007bff;
}
.col-md-9 {

position: relative;
top: -500px;
left: 200px;
}
.col-md-3 {
    display: flex;
    height: 600px;
    width: 100px;
    justify-content: flex-start;
    flex-direction: column;
}
.container-fluid {
    display: flex;
    flex-direction: column;
}
button {
    width: 100px;
    height: 30px;
}